<div class="flex-container">
    <mat-card class="flex-item">
        <mat-card-header>
            <mat-card-title>
                Calcul dobanzi si penalitati
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="first-content">
                <div class="inner-item first-text">
                    <div class="suma-plata">
                        <span>Suma de plata:</span>
                    </div>
                    <div class="data-scadenta">
                        <span>Data scadenta:</span>
                    </div>
                    <div class="data-platii">
                        <span>Data platii:</span>
                    </div>
                </div>
                <form [formGroup]="calculatorForm">
                    <div class="inner-item first-data">
                        <mat-form-field>
                            <input class="input-field" formControlName="amount" matInput placeholder="amount"
                                   type="number">
                            <mat-error *ngIf="calculatorForm.get('amount').hasError('required')">
                                Amount required
                            </mat-error>
                        </mat-form-field>
                        <br/>
                        <mat-form-field>
                            <mat-label></mat-label>
                            <input [matDatepicker]="picker1" formControlName="actualDate" matInput
                                   placeholder="Choose a date">
                            <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="calculatorForm.get('actualDate').hasError('required')">
                                date required
                            </mat-error>
                        </mat-form-field>
                        <br/>
                        <mat-form-field>
                            <mat-label></mat-label>
                            <input [matDatepicker]="picker2" formControlName="receivedDate" matInput
                                   placeholder="Choose a date">
                            <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error *ngIf="calculatorForm.get('receivedDate').hasError('required')">
                                date required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </form>
                <div class="inner-item first-info">
                    <div class="info-suma">
                        <mat-icon aria-label="Button that displays a tooltip when
                            focused or hovered over"
                                  color="primary"
                                  matTooltip="Introduceti suma datorata">info
                        </mat-icon>
                    </div>
                    <div class="info-scadenta">
                        <mat-icon aria-label="Button that displays a tooltip
                        when focused or hovered over"
                                  color="primary"
                                  matTooltip="Introduceti data la care trebuia platita suma">info
                        </mat-icon>
                    </div>
                    <div class="info-plata">
                        <mat-icon aria-label="Button that displays a tooltip
                            when focused or hovered over"
                                  color="primary"
                                  matTooltip="Data la care se face plata">info
                        </mat-icon>
                    </div>

                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align=center>
            <button (click)="calculateInterest()" [disabled]="calculatorForm.invalid" color="primary" mat-flat-button type="button">
                Calcul dobanzi si penalitati
            </button>
        </mat-card-actions>
        <mat-card-footer>
            <div class="first-results">
                <div class="first-results-rezultate">
                    Rezultate:
                </div>
                <div class="first-results-dobanzi">
                    Dobanzi: {{interest | number : '1.2-2'}}
                </div>
                <div class="first-results-penalitati">
                    Penalitati: {{penalties | number : '1.2-2'}}
                </div>
            </div>
        </mat-card-footer>
    </mat-card>
    <mat-card class="flex-item">
        <mat-card-header>
            <mat-card-title>
                Calcul dobanzi si penalitati in alta valuta
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="second-content">
                <div class="text-valuta">
                    Curs de schimb:
                </div>
                <form [formGroup]="rateForm">
                    <div class="input-valuta">
                        <mat-form-field>
                            <input class="input-field" matInput placeholder="rate" formControlName="rate" type="number">
                            <mat-error *ngIf="rateForm.get('rate').hasError('required')">
                                rate required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </form>
                <div class="info-valuta">
                    <mat-icon aria-label="Button that displays a tooltip
                        when focused or hovered over"
                              color="primary"
                              matTooltip="Calcul dobanzi si penalitati in alta valuta">info
                    </mat-icon>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align=center>
            <button color="primary" mat-flat-button (click)="calculateCurrencyRate()" [disabled]="rateForm.invalid">
                Calcul dobanzi si penalitati in alta valuta
            </button>
        </mat-card-actions>
        <mat-card-footer>
            <div class="first-results">
                <div class="first-results-rezultate">
                    Rezultate:
                </div>
                <div class="first-results-dobanzi">
                    Dobanzi: {{interestCurrency | number : '1.2-2'}}
                </div>
                <div class="first-results-penalitati">
                    Penalitati: {{penaltiesCurrency | number : '1.2-2'}}
                </div>
            </div>
        </mat-card-footer>
    </mat-card>
</div>
<div class="bottom-container">
    <button class="clear-button" color="primary" mat-flat-button>Interogare noua</button>
</div>
