
<form class="my-form">
    <form [formGroup]="rateForm" (ngSubmit)="createNewRate()">
        <div class="inner-item first-data" style="margin-left: 300px">

            <mat-form-field>
                <mat-label>From Date</mat-label>
                <input [matDatepicker]="picker1" formControlName="fromDate" matInput
                       placeholder="Choose a date">
                <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="rateForm.get('fromDate').hasError('required')">
                    date required
                </mat-error>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Interest</mat-label>
                <input class="input-field" formControlName="interest" matInput placeholder="Interest"
                       type="number">
                <mat-error *ngIf="rateForm.get('interest').hasError('required')">
                    interest required
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Penalties</mat-label>
                <input class="input-field" formControlName="penalties" matInput placeholder="Penalties"
                       type="number">
                <mat-error *ngIf="rateForm.get('penalties').hasError('required')">
                    penalties required
                </mat-error>
            </mat-form-field>
            <br>
            <button [disabled]="rateForm.invalid" color="info" mat-raised-button>Add New Entry</button>
    <br>
    <br>
        </div>
    </form>
    <mat-card class="my-card">
        <mat-card-header>
            <mat-card-title>Rate List</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="fromDate">
                        <th *matHeaderCellDef mat-header-cell> From (Date) DD/MM/YYYY</th>
                        <td mat-cell *matCellDef="let element"> {{element.fromDate | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="interest">
                        <th *matHeaderCellDef mat-header-cell> Interest Rate / day</th>
                        <td mat-cell *matCellDef="let element"> {{element.interestRate}} % </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="penalties">
                        <th *matHeaderCellDef mat-header-cell> Penalties / day</th>
                        <td mat-cell *matCellDef="let element"> {{element.penalties}} % </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> Delete </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color="warn" (click)="deleteRate(element.id)">Delete</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</form>

