<form (ngSubmit)="changePassword()" [formGroup]="changePasswordFormGroup" class="my-form">
    <mat-card class="my-card">
        <mat-card-header>
            <mat-card-title>Change Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input formControlName="userName" matInput name="email" placeholder="Email" required type="text">
                <mat-error *ngIf="changePasswordFormGroup.get('userName').hasError('required')">
                    Username required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Cuurent Password</mat-label>
                <input formControlName="currentPassword" matInput name="currentPassword" placeholder="Current Password" required
                       type="password">
                <mat-error *ngIf="changePasswordFormGroup.get('currentPassword').hasError('required')">
                    Password required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>New Password</mat-label>
                <input formControlName="password" matInput name="password" placeholder="New Password" required
                       type="password">
                <mat-error *ngIf="changePasswordFormGroup.get('password').hasError('required')">
                    Password required
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="changePasswordFormGroup.invalid" color="primary" mat-flat-button>Change Password</button>
        </mat-card-actions>
    </mat-card>
</form>
