<mat-toolbar color="white">
    <mat-toolbar-row>
        <img class="logo" src="assets/img/logo-tpsoft.png">
        &nbsp;
        &nbsp;
        <span class="title">Calcul dobanzi si penalitati de intarziere</span>
        <span class="example-spacer"></span>
        <span class="example-icon">
      </span>
        <div *ngIf="!authService.isUserLoggedIn()" class="example-button-row">
            <button (click)="navigateToLogin()" color="primary" mat-flat-button>Login</button>
            <button (click)="navigateToSignUp()" color="primary" mat-flat-button>Sign Up</button>
        </div>
        <div *ngIf="authService.isUserLoggedIn()" class="example-button-row">
            <button mat-button [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="change-password">Change Password</button>
                <button mat-menu-item routerLink="dashboard" *ngIf="isAdmin">Dashboard</button>
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
