<!--<app-navbar></app-navbar>-->
<!--<app-login></app-login>-->
<!--<app-datepicker></app-datepicker>-->
<div class="view-container">
    <app-navbar></app-navbar>
    <app-main-page></app-main-page>
</div>
<footer>
    <mat-toolbar color="white">
        <mat-toolbar-row>
            <div class="copyright">
                <span>Limitare de responsabilitate: Calculatorul de penalitati este 
                    destinat a fi folosit in scopul unor simulari privind penalitatile
                    de intarziere pentru obligatiile datorate Bugetului de Stat.<br/>
                    Acesta nu are rolul de a oferi o opinie in cazuri particulare. 
                    TPSoft.ro isi declina orice responsabilitate fata de orice persoana 
                    cu privire la orice fapt rezultat in urma utilizarii acestuia.</span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</footer>